# Homework-2

## Part 1, Working with Numpy
    Your goal is to calculate the final grade for studnets in a class. 
      1. We have 10 Students in class, and 5 assessment score ( Homework, Project, Exam1, Exam2, Final Exam)for each
      student. Create a matrix containing grades of students, (rows are students, columns are assessments). Use for loop and input  function for entering the student name and grades. Enter arbitary grades from 0 to 100 for each assessment 
        2. Create a weigth vector containing weight of each assessment. Example (15%, 15%, 20%, 20%, 30% )
        3. Calculate the final grade for each students. Use Numpy to create your vector, matrix and calculating final grade.
        4. Convert final grades to letter format(90%-100% = A, 80%-89% = B, 70%-79% =C, 60%-69%=D and F for less than 60% )
        5. print out Student names and their grades

## Part 2, Working with Pandas

    - Step 1: Download the titanic.csv file from github.


    - Step 2: Read the file in Python and store it in a dataframe.


    - Step 3: Explore the data in your Jupyter notebook, eg. general info about data, some basic stats.
      Also print out the data for row index 100-105 and columns 'Name', 'Age', 'Fare'


    - Step 4: Create two dataframes, one containing data for only Categorical Variables and one for only Quantitative variable
  
    - Step 5: Write these newly created dataframe in .csv files.

In [1]:
import numpy as np

categories = ["HW", "Project", "Exam 1", "Exam 2", "Final Exam"]
weights = np.array([0.15, 0.15, 0.20, 0.20, 0.30])

names = []
grades_matrix = np.zeros((10, 5))

for i in range(10):
    name = input(f"Enter name for student {i+1}: ")
    names.append(name)
    
    print(f"--- Entering grades for {name} ---")
    for j in range(5):
        grades_matrix[i, j] = float(input(f" Enter score for {categories[j]}: "))

Enter name for student 1:  Lia

--- Entering grades for Lia ---

 Enter score for HW:  98
 Enter score for Project:  78
 Enter score for Exam 1:  78
 Enter score for Exam 2:  79
 Enter score for Final Exam:  90
Enter name for student 2:  Ian

--- Entering grades for Ian ---

 Enter score for HW:  90
 Enter score for Project:  85
 Enter score for Exam 1:  84
 Enter score for Exam 2:  88
 Enter score for Final Exam:  90
Enter name for student 3:  Isaac

--- Entering grades for Isaac ---

 Enter score for HW:  94
 Enter score for Project:  78
 Enter score for Exam 1:  98
 Enter score for Exam 2:  67
 Enter score for Final Exam:  99
Enter name for student 4:  Joe

--- Entering grades for Joe ---

 Enter score for HW:  89
 Enter score for Project:  78
 Enter score for Exam 1:  86
 Enter score for Exam 2:  90
 Enter score for Final Exam:  85
Enter name for student 5:  Manu

--- Entering grades for Manu ---

 Enter score for HW:  87
 Enter score for Project:  83
 Enter score for Exam 1:  78
 Enter score for Exam 2:  91
 Enter score for Final Exam:  89
Enter name for student 6:  Sofi

--- Entering grades for Sofi ---

 Enter score for HW:  92
 Enter score for Project:  94
 Enter score for Exam 1:  85
 Enter score for Exam 2:  78
 Enter score for Final Exam:  87
Enter name for student 7:  Isiah

--- Entering grades for Isiah ---

 Enter score for HW:  93
 Enter score for Project:  85
 Enter score for Exam 1:  87
 Enter score for Exam 2:  90
 Enter score for Final Exam:  88
Enter name for student 8:  Lisa

--- Entering grades for Lisa ---

 Enter score for HW:  87
 Enter score for Project:  89
 Enter score for Exam 1:  90
 Enter score for Exam 2:  92
 Enter score for Final Exam:  88
Enter name for student 9:  Gemi

--- Entering grades for Gemi ---

 Enter score for HW:  98
 Enter score for Project:  87
 Enter score for Exam 1:  85
 Enter score for Exam 2:  88
 Enter score for Final Exam:  90
Enter name for student 10:  Luka

--- Entering grades for Luka ---

 Enter score for HW:  90
 Enter score for Project:  98
 Enter score for Exam 1:  87
 Enter score for Exam 2:  90
 Enter score for Final Exam:  86

In [7]:
def get_letter_grade(score):
    if score >= 90: return 'A'
    elif score >= 80: return 'B'
    elif score >= 70: return 'C'
    elif score >= 60: return 'D'
    else: return 'F'
final_grades = np.dot(grades_matrix, weights)

In [9]:
final_scores = np.dot(grades_matrix, weights)
letter_grades = [get_letter_grade(score) for score in final_scores]

In [10]:
print("\n--- Final Student Grades ---")
print("=" * 45)
print(f"{'Student Name':<15} | {'Score':<8} | {'Grade'}")
print("-" * 45)

for i in range(10):
    print(f"{names[i]:<15} | {final_scores[i]:>8.2f} | {letter_grades[i]}")

--- Final Student Grades ---
=============================================
Student Name    | Score    | Grade
---------------------------------------------
Lia             |    84.80 | B
Ian             |    87.65 | B
Isaac           |    88.50 | B
Joe             |    85.75 | B
Manu            |    86.00 | B
Sofi            |    86.60 | B
Isiah           |    88.50 | B
Lisa            |    89.20 | B
Gemi            |    89.35 | B
Luka            |    89.40 | B

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('titanic.csv')

In [13]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [17]:
df.shape

(891, 12)

In [35]:
print("--- General Information ---")
df.info()

print("\n--- Basic Statistics ---")
display(df.describe())

print("\n--- Data for Rows 100-105 ---")
step3_result = df.loc[100:105, ['Name', 'Age', 'Fare']]
print(step3_result)

--- General Information ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

--- Basic Statistics ---

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

--- Data for Rows 100-105 ---
                                 Name   Age     Fare
100           Petranec, Miss. Matilda  28.0   7.8958
101  Petroff, Mr. Pastcho ("Pentcho")   NaN   7.8958
102         White, Mr. Richard Frasar  21.0  77.2875
103        Johansson, Mr. Gustaf Joel  33.0   8.6542
104    Gustafsson, Mr. Anders Vilhelm  37.0   7.9250
105             Mionoff, Mr. Stoytcho  28.0   7.8958

In [40]:
categorical_df = df.select_dtypes(include=['object'])

In [41]:
quantitative_df = df.select_dtypes(include=['number'])

In [45]:
print("Categorical Columns:", categorical_df.columns.tolist())
df.info()

Categorical Columns: ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [46]:
print("\nQuantitative Columns:", quantitative_df.columns.tolist())
df.info()

Quantitative Columns: ['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [47]:
categorical_df.to_csv('categorical_data.csv', index=False)

In [48]:
quantitative_df.to_csv('quantitative_data.csv', index=False)

In [49]:
print("Files saved successfully!")

Files saved successfully!